<html>

<head>
    <h1>Recreational HTML</h1>
    <link rel="shortcut icon" href="#">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"
        integrity="sha256-WVsM3xrcqyuFNF3W1qtIKbHFsD0977nDQA8DCMp1zCw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"
        integrity="sha256-2/3R3NV5zryj0fDjD3cDh+SNiWQ/TJiMVZzAo5FrhiU=" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;">
        </p>
        <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
        <p><img id="output"/></p>
        <p><input type="text" name="s1" id = "s1"/></p>
        <p><input type="text" name="s2" id = "s2"/></p>
        <p>
            <button type="button" id="btn" onclick="POST_image()">
                click here
            </button>
        </p>
    </div>
    <div>
        result:
        <div id="result"></div>
    </div>
</body>

<script>

    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    function getBase64Image(img) {
        var canvas = document.createElement("canvas")
        canvas.width = img.width;
        canvas.height = img.height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);
        var dataURL = canvas.toDataURL("image/png");
        return dataURL.replace('data:image/png;base64,', "");
    }
    var loadImg = function () {
        var base64 = getBase64Image(document.getElementById("output"));
        return base64
    }

    function POST_image() {
        /*var canvas = document.createElement("canvas")
        canvas.width = img.width;
        canvas.height = img.height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);
        var dataURL = canvas.toDataURL("image/png").replace('data:image/png;base64,', "");*/

        base64_dataURL = loadImg();
        var S1 = document.getElementById("s1").value;
        var S2 = document.getElementById("s2").value;        

        var data = {
            image_base64: base64_dataURL,
            Sentence_a: S1,
            Sentence_b: S2,
        }

        // console.log(data)
        // `${window.origin}/predict` we use back tics for some javascript screen interpretations.
        fetch(`${window.origin}/predict`, {
            method: 'POST',
            credentials: 'include',
            body: JSON.stringify(data),
            cache: 'no-cache',
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(function (response) {
            if (response.status != 200){
                console.log(`Response status was not 200: ${response.status}`)
                return ;
            }

            response.json().then(function (data) {
                console.log(data)
            })
        })

        // just for confirmation print dataURl
        // document.write(base64_dataURL
    }

</script>

</html>